<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>country_name</key>
		<string>Afghanistan</string>
		<key>country_dialing_code</key>
		<string>+93</string>
		<key>country_code</key>
		<string>AF</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Albania</string>
		<key>country_dialing_code</key>
		<string>+355</string>
		<key>country_code</key>
		<string>AL</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Algeria</string>
		<key>country_dialing_code</key>
		<string>+213</string>
		<key>country_code</key>
		<string>DZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Andorra</string>
		<key>country_dialing_code</key>
		<string>+376</string>
		<key>country_code</key>
		<string>AD</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Angola</string>
		<key>country_dialing_code</key>
		<string>+244</string>
		<key>country_code</key>
		<string>AO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Antarctica</string>
		<key>country_dialing_code</key>
		<string>+672</string>
		<key>country_code</key>
		<string>AQ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Argentina</string>
		<key>country_dialing_code</key>
		<string>+54</string>
		<key>country_code</key>
		<string>AR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Armenia</string>
		<key>country_dialing_code</key>
		<string>+374</string>
		<key>country_code</key>
		<string>AM</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Aruba</string>
		<key>country_dialing_code</key>
		<string>+297</string>
		<key>country_code</key>
		<string>AW</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Australia</string>
		<key>country_dialing_code</key>
		<string>+61</string>
		<key>country_code</key>
		<string>AU</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Austria</string>
		<key>country_dialing_code</key>
		<string>+43</string>
		<key>country_code</key>
		<string>AT</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Azerbaijan</string>
		<key>country_dialing_code</key>
		<string>+994</string>
		<key>country_code</key>
		<string>AZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Bahrain</string>
		<key>country_dialing_code</key>
		<string>+973</string>
		<key>country_code</key>
		<string>BH</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Bangladesh</string>
		<key>country_dialing_code</key>
		<string>+880</string>
		<key>country_code</key>
		<string>BD</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Belarus</string>
		<key>country_dialing_code</key>
		<string>+375</string>
		<key>country_code</key>
		<string>BY</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Belgium</string>
		<key>country_dialing_code</key>
		<string>+32</string>
		<key>country_code</key>
		<string>BE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Belize</string>
		<key>country_dialing_code</key>
		<string>+501</string>
		<key>country_code</key>
		<string>BZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Benin</string>
		<key>country_dialing_code</key>
		<string>+229</string>
		<key>country_code</key>
		<string>BJ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Bhutan</string>
		<key>country_dialing_code</key>
		<string>+975</string>
		<key>country_code</key>
		<string>BT</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Bolivia</string>
		<key>country_dialing_code</key>
		<string>+591</string>
		<key>country_code</key>
		<string>BO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Bosnia and Herzegovina</string>
		<key>country_dialing_code</key>
		<string>+387</string>
		<key>country_code</key>
		<string>BA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Botswanas</string>
		<key>country_dialing_code</key>
		<string>+267</string>
		<key>country_code</key>
		<string>BW</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Brazil</string>
		<key>country_dialing_code</key>
		<string>+55</string>
		<key>country_code</key>
		<string>BR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Brunei Darussalam</string>
		<key>country_dialing_code</key>
		<string>+673</string>
		<key>country_code</key>
		<string>BN</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Bulgaria</string>
		<key>country_dialing_code</key>
		<string>+359</string>
		<key>country_code</key>
		<string>BG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Burkina Faso</string>
		<key>country_dialing_code</key>
		<string>+226</string>
		<key>country_code</key>
		<string>BF</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Burundi</string>
		<key>country_dialing_code</key>
		<string>+257</string>
		<key>country_code</key>
		<string>BI</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Cambodia</string>
		<key>country_dialing_code</key>
		<string>+855</string>
		<key>country_code</key>
		<string>KH</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Cameroon</string>
		<key>country_dialing_code</key>
		<string>+237</string>
		<key>country_code</key>
		<string>CM</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Canada</string>
		<key>country_dialing_code</key>
		<string>+1</string>
		<key>country_code</key>
		<string>CA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Cape Verde</string>
		<key>country_dialing_code</key>
		<string>+238</string>
		<key>country_code</key>
		<string>CV</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Central African Republic</string>
		<key>country_dialing_code</key>
		<string>+236</string>
		<key>country_code</key>
		<string>CF</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Chad</string>
		<key>country_dialing_code</key>
		<string>+235</string>
		<key>country_code</key>
		<string>TD</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Chile</string>
		<key>country_dialing_code</key>
		<string>+56</string>
		<key>country_code</key>
		<string>CL</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Colombia</string>
		<key>country_dialing_code</key>
		<string>+57</string>
		<key>country_code</key>
		<string>CO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Comoros	</string>
		<key>country_dialing_code</key>
		<string>+269</string>
		<key>country_code</key>
		<string>KM</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Congo</string>
		<key>country_dialing_code</key>
		<string>+242</string>
		<key>country_code</key>
		<string>CG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Cook Islands</string>
		<key>country_dialing_code</key>
		<string>+682</string>
		<key>country_code</key>
		<string>CK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Costa Rica	</string>
		<key>country_dialing_code</key>
		<string>+506</string>
		<key>country_code</key>
		<string>CR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Croatia</string>
		<key>country_dialing_code</key>
		<string>+385</string>
		<key>country_code</key>
		<string>HR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Cuba</string>
		<key>country_dialing_code</key>
		<string>+53</string>
		<key>country_code</key>
		<string>CU</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Cyprus</string>
		<key>country_dialing_code</key>
		<string>+357</string>
		<key>country_code</key>
		<string>CY</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Czech Republic</string>
		<key>country_dialing_code</key>
		<string>+420</string>
		<key>country_code</key>
		<string>CZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Denmark</string>
		<key>country_dialing_code</key>
		<string>+45</string>
		<key>country_code</key>
		<string>DK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Djibouti</string>
		<key>country_dialing_code</key>
		<string>+253</string>
		<key>country_code</key>
		<string>DJ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Ecuador</string>
		<key>country_dialing_code</key>
		<string>+593</string>
		<key>country_code</key>
		<string>EC</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Egypt</string>
		<key>country_dialing_code</key>
		<string>+20</string>
		<key>country_code</key>
		<string>EG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Christmas Island</string>
		<key>country_dialing_code</key>
		<string>+61</string>
		<key>country_code</key>
		<string>CX</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Cocos (keeling) Islands</string>
		<key>country_dialing_code</key>
		<string>+61</string>
		<key>country_code</key>
		<string>CC</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>El Salvador</string>
		<key>country_dialing_code</key>
		<string>+503</string>
		<key>country_code</key>
		<string>SV</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Equatorial Guinea</string>
		<key>country_dialing_code</key>
		<string>+240</string>
		<key>country_code</key>
		<string>GQ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Eritrea</string>
		<key>country_dialing_code</key>
		<string>+291</string>
		<key>country_code</key>
		<string>ER</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Estonia</string>
		<key>country_dialing_code</key>
		<string>+372</string>
		<key>country_code</key>
		<string>EE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Ethiopia</string>
		<key>country_dialing_code</key>
		<string>+251</string>
		<key>country_code</key>
		<string>ET</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Falkland Islands</string>
		<key>country_dialing_code</key>
		<string>+500</string>
		<key>country_code</key>
		<string>FK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Faroe Islands	</string>
		<key>country_dialing_code</key>
		<string>+298</string>
		<key>country_code</key>
		<string>FO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Fiji</string>
		<key>country_dialing_code</key>
		<string>+679</string>
		<key>country_code</key>
		<string>FJ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Finland</string>
		<key>country_dialing_code</key>
		<string>+358</string>
		<key>country_code</key>
		<string>FI</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>France</string>
		<key>country_dialing_code</key>
		<string>+33</string>
		<key>country_code</key>
		<string>FR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>French Polynesia</string>
		<key>country_dialing_code</key>
		<string>+689</string>
		<key>country_code</key>
		<string>PF</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Gabon</string>
		<key>country_dialing_code</key>
		<string>+241</string>
		<key>country_code</key>
		<string>GA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Gambia</string>
		<key>country_dialing_code</key>
		<string>+220</string>
		<key>country_code</key>
		<string>GM</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Georgia</string>
		<key>country_dialing_code</key>
		<string>+995</string>
		<key>country_code</key>
		<string>GE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Germany</string>
		<key>country_dialing_code</key>
		<string>+49</string>
		<key>country_code</key>
		<string>DE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Ghana</string>
		<key>country_dialing_code</key>
		<string>+233</string>
		<key>country_code</key>
		<string>GH</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Gibraltar</string>
		<key>country_dialing_code</key>
		<string>+350</string>
		<key>country_code</key>
		<string>GI</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Greece</string>
		<key>country_dialing_code</key>
		<string>+30</string>
		<key>country_code</key>
		<string>GR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Greenland</string>
		<key>country_dialing_code</key>
		<string>+299</string>
		<key>country_code</key>
		<string>GL</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Guatemala</string>
		<key>country_dialing_code</key>
		<string>+502</string>
		<key>country_code</key>
		<string>GT</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Guinea</string>
		<key>country_dialing_code</key>
		<string>+224</string>
		<key>country_code</key>
		<string>GN</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Guinea-bissau</string>
		<key>country_dialing_code</key>
		<string>+245</string>
		<key>country_code</key>
		<string>GW</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Guyana</string>
		<key>country_dialing_code</key>
		<string>+592</string>
		<key>country_code</key>
		<string>GY</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Haiti</string>
		<key>country_dialing_code</key>
		<string>+509</string>
		<key>country_code</key>
		<string>HT</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Honduras</string>
		<key>country_dialing_code</key>
		<string>+504</string>
		<key>country_code</key>
		<string>HN</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Hong Kong</string>
		<key>country_dialing_code</key>
		<string>+852</string>
		<key>country_code</key>
		<string>HK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Hungary</string>
		<key>country_dialing_code</key>
		<string>+36</string>
		<key>country_code</key>
		<string>HU</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>India</string>
		<key>country_dialing_code</key>
		<string>+91</string>
		<key>country_code</key>
		<string>IN</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Indonesia</string>
		<key>country_dialing_code</key>
		<string>+62</string>
		<key>country_code</key>
		<string>ID</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Iran</string>
		<key>country_dialing_code</key>
		<string>+98</string>
		<key>country_code</key>
		<string>IR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Iraq</string>
		<key>country_dialing_code</key>
		<string>+964</string>
		<key>country_code</key>
		<string>IQ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Ireland</string>
		<key>country_dialing_code</key>
		<string>+353</string>
		<key>country_code</key>
		<string>IE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Israel</string>
		<key>country_dialing_code</key>
		<string>+972</string>
		<key>country_code</key>
		<string>IL</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Italy</string>
		<key>country_dialing_code</key>
		<string>+233</string>
		<key>country_code</key>
		<string>GH</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Japan</string>
		<key>country_dialing_code</key>
		<string>+81</string>
		<key>country_code</key>
		<string>JP</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Jordan</string>
		<key>country_dialing_code</key>
		<string>+962</string>
		<key>country_code</key>
		<string>JO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Kazakhstan</string>
		<key>country_dialing_code</key>
		<string>+7</string>
		<key>country_code</key>
		<string>KZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Kenya</string>
		<key>country_dialing_code</key>
		<string>+254</string>
		<key>country_code</key>
		<string>KE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Kiribati</string>
		<key>country_dialing_code</key>
		<string>+686</string>
		<key>country_code</key>
		<string>KI</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Kuwait</string>
		<key>country_dialing_code</key>
		<string>+965</string>
		<key>country_code</key>
		<string>KW</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Kyrgyzstan</string>
		<key>country_dialing_code</key>
		<string>+996</string>
		<key>country_code</key>
		<string>KG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Latvia</string>
		<key>country_dialing_code</key>
		<string>+371</string>
		<key>country_code</key>
		<string>LV</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Lebanon</string>
		<key>country_dialing_code</key>
		<string>+961</string>
		<key>country_code</key>
		<string>LB</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Lesotho</string>
		<key>country_dialing_code</key>
		<string>+266</string>
		<key>country_code</key>
		<string>LS</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Liberia</string>
		<key>country_dialing_code</key>
		<string>+231</string>
		<key>country_code</key>
		<string>LR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Liechtenstein</string>
		<key>country_dialing_code</key>
		<string>+423</string>
		<key>country_code</key>
		<string>LI</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Lithuania</string>
		<key>country_dialing_code</key>
		<string>+370</string>
		<key>country_code</key>
		<string>LT</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Luxembourg</string>
		<key>country_dialing_code</key>
		<string>+352</string>
		<key>country_code</key>
		<string>LU</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Macao</string>
		<key>country_dialing_code</key>
		<string>+853</string>
		<key>country_code</key>
		<string>MO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Macedonia</string>
		<key>country_dialing_code</key>
		<string>+389</string>
		<key>country_code</key>
		<string>MK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Madagascar</string>
		<key>country_dialing_code</key>
		<string>+261</string>
		<key>country_code</key>
		<string>MG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Malawi</string>
		<key>country_dialing_code</key>
		<string>+265</string>
		<key>country_code</key>
		<string>MW</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Malaysia</string>
		<key>country_dialing_code</key>
		<string>+60</string>
		<key>country_code</key>
		<string>MY</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Maldives</string>
		<key>country_dialing_code</key>
		<string>+960</string>
		<key>country_code</key>
		<string>MV</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Mali</string>
		<key>country_dialing_code</key>
		<string>+223</string>
		<key>country_code</key>
		<string>ML</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Malta</string>
		<key>country_dialing_code</key>
		<string>+356</string>
		<key>country_code</key>
		<string>MT</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Mauritania</string>
		<key>country_dialing_code</key>
		<string>+222</string>
		<key>country_code</key>
		<string>MR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Mauritius</string>
		<key>country_dialing_code</key>
		<string>+230</string>
		<key>country_code</key>
		<string>MU</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Mayotte</string>
		<key>country_dialing_code</key>
		<string>+262</string>
		<key>country_code</key>
		<string>YT</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Mexico</string>
		<key>country_dialing_code</key>
		<string>+52</string>
		<key>country_code</key>
		<string>MX</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Micronesia</string>
		<key>country_dialing_code</key>
		<string>+691</string>
		<key>country_code</key>
		<string>FM</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Moldova</string>
		<key>country_dialing_code</key>
		<string>+373</string>
		<key>country_code</key>
		<string>MD</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Monaco</string>
		<key>country_dialing_code</key>
		<string>+377</string>
		<key>country_code</key>
		<string>MC</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Mongolia</string>
		<key>country_dialing_code</key>
		<string>+976</string>
		<key>country_code</key>
		<string>MN</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Morocco</string>
		<key>country_dialing_code</key>
		<string>+212</string>
		<key>country_code</key>
		<string>MA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Mozambique</string>
		<key>country_dialing_code</key>
		<string>+258</string>
		<key>country_code</key>
		<string>MZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Namibia</string>
		<key>country_dialing_code</key>
		<string>+264</string>
		<key>country_code</key>
		<string>NA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Nauru</string>
		<key>country_dialing_code</key>
		<string>+674</string>
		<key>country_code</key>
		<string>NR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Nepal</string>
		<key>country_dialing_code</key>
		<string>+977</string>
		<key>country_code</key>
		<string>NP</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Netherlands</string>
		<key>country_dialing_code</key>
		<string>+31</string>
		<key>country_code</key>
		<string>NL</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>New Caledonia</string>
		<key>country_dialing_code</key>
		<string>+687</string>
		<key>country_code</key>
		<string>NC</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>New Zealand	</string>
		<key>country_dialing_code</key>
		<string>+64</string>
		<key>country_code</key>
		<string>NZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Nicaragua</string>
		<key>country_dialing_code</key>
		<string>+505</string>
		<key>country_code</key>
		<string>NI</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Niger</string>
		<key>country_dialing_code</key>
		<string>+227</string>
		<key>country_code</key>
		<string>NE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Nigeria</string>
		<key>country_dialing_code</key>
		<string>+234</string>
		<key>country_code</key>
		<string>NG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Niue</string>
		<key>country_dialing_code</key>
		<string>+683</string>
		<key>country_code</key>
		<string>NU</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Norway</string>
		<key>country_dialing_code</key>
		<string>+47</string>
		<key>country_code</key>
		<string>NO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Oman</string>
		<key>country_dialing_code</key>
		<string>+968</string>
		<key>country_code</key>
		<string>OM</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Pakistan</string>
		<key>country_dialing_code</key>
		<string>+92</string>
		<key>country_code</key>
		<string>PK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Palau</string>
		<key>country_dialing_code</key>
		<string>+680</string>
		<key>country_code</key>
		<string>PW</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Panama</string>
		<key>country_dialing_code</key>
		<string>+507</string>
		<key>country_code</key>
		<string>PA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Papua New Guinea	</string>
		<key>country_dialing_code</key>
		<string>+675</string>
		<key>country_code</key>
		<string>PG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Paraguay</string>
		<key>country_dialing_code</key>
		<string>+595</string>
		<key>country_code</key>
		<string>PY</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Peru</string>
		<key>country_dialing_code</key>
		<string>+51</string>
		<key>country_code</key>
		<string>PE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Philippines</string>
		<key>country_dialing_code</key>
		<string>+63</string>
		<key>country_code</key>
		<string>PH</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Pitcairn</string>
		<key>country_dialing_code</key>
		<string>+870</string>
		<key>country_code</key>
		<string>PN</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Poland</string>
		<key>country_dialing_code</key>
		<string>+48</string>
		<key>country_code</key>
		<string>PL</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Portugal</string>
		<key>country_dialing_code</key>
		<string>+351</string>
		<key>country_code</key>
		<string>PT</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Dominican Republic</string>
		<key>country_dialing_code</key>
		<string>+1</string>
		<key>country_code</key>
		<string>DR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Qatar</string>
		<key>country_dialing_code</key>
		<string>+974</string>
		<key>country_code</key>
		<string>QA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Romania</string>
		<key>country_dialing_code</key>
		<string>+40</string>
		<key>country_code</key>
		<string>RO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Russian Federation</string>
		<key>country_dialing_code</key>
		<string>+7</string>
		<key>country_code</key>
		<string>RU</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Rwanda</string>
		<key>country_dialing_code</key>
		<string>+250</string>
		<key>country_code</key>
		<string>RW</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Samoa</string>
		<key>country_dialing_code</key>
		<string>+685</string>
		<key>country_code</key>
		<string>WS</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>San Marino	</string>
		<key>country_dialing_code</key>
		<string>+378</string>
		<key>country_code</key>
		<string>SM</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Sao Tome And Principe</string>
		<key>country_dialing_code</key>
		<string>+239</string>
		<key>country_code</key>
		<string>ST</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Saudi Arabia</string>
		<key>country_dialing_code</key>
		<string>+966</string>
		<key>country_code</key>
		<string>SA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Senegal</string>
		<key>country_dialing_code</key>
		<string>+221</string>
		<key>country_code</key>
		<string>SN</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Seychelles</string>
		<key>country_dialing_code</key>
		<string>+248</string>
		<key>country_code</key>
		<string>SC</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Sierra Leone	</string>
		<key>country_dialing_code</key>
		<string>+232</string>
		<key>country_code</key>
		<string>SL</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Singapore	</string>
		<key>country_dialing_code</key>
		<string>+65</string>
		<key>country_code</key>
		<string>SG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Slovakia</string>
		<key>country_dialing_code</key>
		<string>+421</string>
		<key>country_code</key>
		<string>SK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Slovenia</string>
		<key>country_dialing_code</key>
		<string>+386</string>
		<key>country_code</key>
		<string>SI</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Solomon Islands	</string>
		<key>country_dialing_code</key>
		<string>+677</string>
		<key>country_code</key>
		<string>SB</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Somalia</string>
		<key>country_dialing_code</key>
		<string>+252</string>
		<key>country_code</key>
		<string>SO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>South Africa</string>
		<key>country_dialing_code</key>
		<string>+27</string>
		<key>country_code</key>
		<string>ZA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Spain</string>
		<key>country_dialing_code</key>
		<string>+34</string>
		<key>country_code</key>
		<string>ES</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Sri Lanka	</string>
		<key>country_dialing_code</key>
		<string>+94</string>
		<key>country_code</key>
		<string>LK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Sudan</string>
		<key>country_dialing_code</key>
		<string>+249</string>
		<key>country_code</key>
		<string>SD</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Suriname</string>
		<key>country_dialing_code</key>
		<string>+597</string>
		<key>country_code</key>
		<string>SR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Swaziland</string>
		<key>country_dialing_code</key>
		<string>+268</string>
		<key>country_code</key>
		<string>SZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Sweden</string>
		<key>country_dialing_code</key>
		<string>+46</string>
		<key>country_code</key>
		<string>SE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Switzerland</string>
		<key>country_dialing_code</key>
		<string>+41</string>
		<key>country_code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Syria</string>
		<key>country_dialing_code</key>
		<string>+963</string>
		<key>country_code</key>
		<string>SY</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Taiwan</string>
		<key>country_dialing_code</key>
		<string>+886</string>
		<key>country_code</key>
		<string>TW</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Tajikistan</string>
		<key>country_dialing_code</key>
		<string>+992</string>
		<key>country_code</key>
		<string>TJ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Tanzania</string>
		<key>country_dialing_code</key>
		<string>+255</string>
		<key>country_code</key>
		<string>TZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Thailand</string>
		<key>country_dialing_code</key>
		<string>+66</string>
		<key>country_code</key>
		<string>TH</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Togo</string>
		<key>country_dialing_code</key>
		<string>+228</string>
		<key>country_code</key>
		<string>TG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Tokelau</string>
		<key>country_dialing_code</key>
		<string>+690</string>
		<key>country_code</key>
		<string>TK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Tonga</string>
		<key>country_dialing_code</key>
		<string>+676</string>
		<key>country_code</key>
		<string>TO</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Tunisia</string>
		<key>country_dialing_code</key>
		<string>+216</string>
		<key>country_code</key>
		<string>TN</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Turkey</string>
		<key>country_dialing_code</key>
		<string>+90</string>
		<key>country_code</key>
		<string>TR</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Turkmenistan</string>
		<key>country_dialing_code</key>
		<string>+993</string>
		<key>country_code</key>
		<string>TM</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Tuvalu</string>
		<key>country_dialing_code</key>
		<string>+688</string>
		<key>country_code</key>
		<string>TV</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Uganda</string>
		<key>country_dialing_code</key>
		<string>+256</string>
		<key>country_code</key>
		<string>UG</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Ukraine</string>
		<key>country_dialing_code</key>
		<string>+380</string>
		<key>country_code</key>
		<string>UA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>United Arab Emirates</string>
		<key>country_dialing_code</key>
		<string>+971</string>
		<key>country_code</key>
		<string>AE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>United Kingdom</string>
		<key>country_dialing_code</key>
		<string>+44</string>
		<key>country_code</key>
		<string>UK</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>United States</string>
		<key>country_dialing_code</key>
		<string>+1</string>
		<key>country_code</key>
		<string>US</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Uzbekistan</string>
		<key>country_dialing_code</key>
		<string>+998</string>
		<key>country_code</key>
		<string>UZ</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Vanuatu</string>
		<key>country_dialing_code</key>
		<string>+678</string>
		<key>country_code</key>
		<string>VU</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Vatican city</string>
		<key>country_dialing_code</key>
		<string>+39</string>
		<key>country_code</key>
		<string>VA</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Venezuela</string>
		<key>country_dialing_code</key>
		<string>+58</string>
		<key>country_code</key>
		<string>VE</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Viet Nam</string>
		<key>country_dialing_code</key>
		<string>+84</string>
		<key>country_code</key>
		<string>VN</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Zambia</string>
		<key>country_dialing_code</key>
		<string>+260</string>
		<key>country_code</key>
		<string>ZM</string>
	</dict>
	<dict>
		<key>country_name</key>
		<string>Zimbabwe</string>
		<key>country_dialing_code</key>
		<string>+263</string>
		<key>country_code</key>
		<string>ZW</string>
	</dict>
</array>
</plist>
